<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>Coding Events</h1>

<header th:replace="fragments :: header">
<!--    <ul>-->
<!--        <li><a href = "/events">All Events</a></li>-->
<!--    </ul>-->
</header>

</body>
</html>
<!--<head th:replace="fragments :: head"></head>-->
<!--<body>-->

<!--<h1>Coding Events</h1>-->

<!--<header th:replace="fragments :: header"></header>-->

<!--</body>-->
<!--</html>-->